<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real-time Data from <%= title %></title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <style>
      .table tr{
        transition: all 0.5s ease;
      }
      .table tr.added{
        background-color: #2bca2b;
        color: #000000;
        transition: all 0.5s ease;
      }
    </style>
</head>
<body>
    <!-- Navigation Starts -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="thesis">Thesis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="graph">Frame Details</a>
                </li>
              <!--   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
    <!-- Navigation Ends -->

    <!-- Main Starts -->
    <main role="main" class="container">
    
        <div class="text-center">
          <br>
            <h1>Realtime Data from <%= title %></h1>
            <!-- <p class="lead">Data coming from <%= title %>
                <br> Show wahtever you want here!</p> -->
          <br>
        </div>
        <!-- <h2>Thesis</h2> -->
        <!-- <h2>Graph</h2> -->
        <!-- <canvas id="myChart" width="400" height="200"></canvas> -->
        <ul>
            <li><h3>Objective</h3></li>
            <p>The goal of this thesis is to design and implement a GSM transmission and
            hosting concept for Differential GPS system. The design includes the transmission
            of differential signals using both Radio Frequency and GSM. The
            complete implementation of this design is done during this thesis. Testing
            the resultant implementation is also done during the course of the thesis.</p>
            <li><h3>Motivation</h3></li>
            <p>Differential GPS System work on the concept of being able to transmit correction signals
            from base to rover. Higher accuracy demand fast and consistent transmission of
            these correction signals between two receivers. This poses a challenge to maintain a
            stable connection between base and rover. Radio Freqency communication is used in
            majority of the projects till date to achieve this transmission of differential signals.
            The implementation and testing for the same is also done during this thesis and it has
            been observed that the accuracy drops drastically for higher distances between base and
            rover. Various attempts have been made by different researchers with different radio frequency boards but the results have not been satisfactory. In this dissertation, I examine
            an alternate path, eliminating the dependency on radio communication. I eliminate
            the aforementioned problem by developing a GSM Hosting concept. This concept not
            only provides a cost efficient data communication solution but also a better and a stable
            communication medium between base and rover. Unlike in radio communication,
            having a GSM Hosting Concept gives a possibility to store the correction signals in an
            database. This proves to be a very useful feature as these signals can be analysed and
            monitored whenever required.</p>
            <li><h3>Work Done</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <li><h3>Results and Conclusion</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </ul>
    </main>
    <!-- Main Ends -->
    <!-- Javascript Assets: Add any dependencies here -->
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/Chart.bundle.min.js"></script>
    
    <!-- Write your scripts below -->
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
    <script src="/assets/socket.io.js"></script>
    <script>
      var socket = io();
      socket.on('data-update', function(msg){
        console.log("data", msg.data);

        var newRow = "<tr class='added'>\
          <td>"+msg.data.id+"</td>\
          <td>"+msg.data.frameD+"</td>\
          <td>0</td>\
        </tr>";

        $("#main-table tbody").prepend(newRow);

        setTimeout(function () {
          $(".added").removeClass("added");
        }, 1000);
      });
    </script>
</body>
</html>